.App {
  text-align: center;
}

.school-card {
  padding: 12px;
  margin: 15px;
  height: 55px;
  display: flex;
  justify-content: space-between;
  background-color: #f5f5f5;
  align-items: center;
  border-radius: 12px;
  width: 40vw;
}

.school-card__name {
  font-size: 15px;
  font-weight: bold;
  margin: 0px;
}

.school-card__location {
  font-size: 15px;
  margin: 0px;
}

.school-card__details-button {
  background-color: lightgrey;
  border: none;
  width: 100px;
  height: 40px;
  border-radius: 10px;
}

.school-card__details-button:hover {
  cursor: pointer;
}

.schools-container {
  display: flex;
}

.school-card__grades,
.school-card__students {
  font-size: 15px;
  margin: 0px;
}

.school-card__info,
.school-card__stats {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.schools-dashboard__schools-container {
  right: 0;
}

.schools-dashboard__results-labels {
}

.schools-dashboard__content-container {
  display: flex;
  flex-direction: column;
}

.schools-dashboard__content-container__primary {
  display: flex;
  flex-direction: row;
  justify-items: space-between;
  align-content: center;
}

/* .schools-dashboard__content-container:first-child {
  width: 10vw;
} */

.schools-dashboard__content-container__schools {
  width: 10vw;
}

.schools-dashboard__view-options {
  display: flex;
  margin-left: 15px;
}
.schools-dashboard__view-options div {
  margin-right: 85px;
}

.active-view {
  text-decoration: underline;
  text-decoration-thickness: 3px;
}

.active-view,
.non-active-view {
  font-weight: bold;
}

.active-view:hover,
.non-active-view:hover {
  cursor: pointer;
}

.non-active-view {
  color: rgb(172, 172, 172);
}
