.App {
  padding: 0;
  max-width: 100%;
}

.school-card {
  height: 115px;
  align-items: center;
  border-bottom: 1px solid lightgrey;
  border-radius: none;
  width: 100vw;
}

.active-view {
  text-decoration: underline;
  text-decoration-thickness: 3px;
}

.active-view,
.non-active-view {
  font-weight: bold;
}

.active-view:hover,
.non-active-view:hover {
  cursor: pointer;
}

.non-active-view {
  color: rgb(172, 172, 172);
}
