.App {
  text-align: center;
}

.school-container {
  border: 1px solid black;
  padding: 10px;
  margin: 15px;
  display: flex;
  justify-content: space-between;
}

.schools-container {
  display: flex;
}

.data-A,
.data-B {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.dropdown-container {
  display: flex;
}

.results-labels {
  display: flex;
}
.results-labels div {
  margin: 10px;
}

.pagination-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.pagination-container button {
  height: 20px;
}

.pagination-container-buttons {
  display: flex;
}

.search-results-container {
  display: flex;
  flex-direction: column;
}

.search-results-container button {
  background-color: white;
  border: 1px solid rgb(192, 192, 192);
  border-top: none;
  padding: 5px;
}

.search-result:hover {
  background-color: rgb(247, 247, 247);
  cursor: pointer;
}
